<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Account</title>
        <link rel="stylesheet" type="text/css"" href="static/view-account-style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
    <div class="navbar">
        <ul>
            <a class="active" href="/account"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a>
            <a href="/market"><i class="fa fa-line-chart" aria-hidden="true"></i> Market</a>
            <a href="/contact"><i class="fa fa-question-circle" aria-hidden="true"></i> Contact</a>
            <a href="/about"><i class="fa fa-info" aria-hidden="true"></i> About</a>
            <a style="float:right" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
        </ul>
    </div>
    <body>
        <div class="container">
            <div class="innernavbar">
                <ul>
                    <a href="/account">Account Details</a>
                    <a class="active" href="/editaccount">Edit Profile</a>
                </ul>
                <br>
                <h1 class="title">Edit Account</h1>
                <p class="text"><b>Set Amount ($)</b></p>
                <form action="/setAmount" class="form" id="set-amount" method="post">
                    <div class="form_msg"></div>
                    <div class="data_input">
                        <input type="number" step="0.01" min="0" id="amount" name="amount" class="form_data" autofocus placeholder="Set Amount" required>
                    </div>
                    <button class="button" type="submit">Set amount</button>
                </form>
                <br><br>
                <p class="text"><b>Set Interest Rate (%)</b></p>
                <form action="/setInterest" class="form" id="set-interest" method="post">
                    <div class="form_msg"></div>
                    <div class="data_input">
                        <input type="number" step="0.01" min="0" id="interest" name="interest" class="form_data" autofocus placeholder="Set Interest Rate" required>
                    </div>
                    <button class="button" type="submit">Set interest rate</button>
                </form>
                <br><br>
                <p class="text"><b>Change Password</b></p>
                <form action="/updatePassword" class="form" id="change-password" method="post">
                    <div class="form_msg"></div>
                    <div class="data_input">
                        <input type="password" id="password" name="password" class="form_data" autofocus placeholder="New Password" required>
                    </div>
                    <div class="data_input">
                        <input type="password" id="confirm_password" name="confirm_password" class="form_data" autofocus placeholder="Confirm New Password" required>
                    </div>
                    <button class="button" type="submit" onclick="passwordComplexity();validatePasswords()" >Change password</button>
                </form>
            <br><br>
        </div>
        <script src="/static/validation.js"></script>
    </body>
</html>