<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"" href="/static/account-style.css">
        <title>Account Login Page</title>
    </head>
    <body>
        <div class="container">
            <form action="/loginUser" class="form" id="login" method="post">
                <h1 class="title">Login</h1>
                <p class="errortext"><%=error%></p>
                <div class="data_input">
                    <input type="text" name="email" id="email" class="form_data" autofocus placeholder="Email" required>
                </div>
                <div class="data_input">
                    <input type="text" name="password" id="password" class="form_data" autofocus placeholder="Password" required>
                </div>
                <button class="button" type="submit">Continue</button>
                <p class="text">
                    Don't have an account?
                    <a class="link" href="/" id="CreateAccount">Create Account</a>
                </p>
            </form>
        </div>
    </body>
</html>