body {
    --primary-color: #1b6bff;
    --secondary-color: #ffffff;
    --border-radius: 3px;

    align-items: center;
    height: 100vh;
    background-color: #212020;
    background-size: cover;
    display: flex;
    font-size: 18px;
    margin: 0;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:scroll;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    background: #333131;
}


.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.title {
    color: #eeeeee;
    text-align: center;
    margin-bottom: 2.5rem;
}

.form_msg {
    text-align: center;
    margin-bottom: 1rem;
}


.data_input {
    margin-bottom: 1rem;
}

.form_data {
    display: block;
    font-size: 1.0rem;
    color: #eeeeee;
    background: #333131;
    border: 1.1px solid #4e4b4b;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.3s, border-color 0.3s;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 500 1rem;
}

.form_data:focus {
    border-color: var(--primary-color);
    background: #333131;
    color: #eeeeee;
}


.button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button:hover {
    background: #1151c9;
}

.text {
    text-align: center;
    color: #b6b1b1
}

.link {
    color: var(--secondary-color)
}
